.intro{
    display: flex;
    justify-content:space-around;
    max-width: 75%;
    margin: auto;
    align-items: center;
    padding: 20rem 0;
}

.intro p{
    max-width: 33%;
}

.intro div{
    display: flex;
    flex-direction: column ;
}

.bluelink{
    color: var(--color-main4);
  line-height: 3rem;
  padding-top: 1rem;
  text-align: center;
  text-decoration: underline;
}

nav{
    position: fixed;
    top: 4rem;
    /* right: 8rem; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 5rem;
    align-items: center;
    z-index: 1000;
    font-weight:200 ;
    font-size: 1.8rem;
}

nav img{
    max-width: 80%;
}

.projet{
    width: 450px;
    padding-bottom: 2rem;
    display: block;

}

.projet:last-of-type{
    padding-bottom: 8rem;
}
.imageP{
    max-width: 100%;
    height: 30rem;
    margin: auto;
    text-align: center;
    position: relative;
}

.imageP::after, .imageP::before{
    transition: ease-in-out .4s;
    -webkit-transition: ease-in-out .4s;
    -moz-transition: ease-in-out .4s;
    -ms-transition: ease-in-out .4s;
    -o-transition: ease-in-out .4s;
}
.imageP::before{
    position: absolute;
    left:-10rem;
    z-index: -1;
    top:-10rem;
    transform: scale(.7);
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    -ms-transform: scale(.7);
    -o-transform: scale(.7);
}

.imageP::after{
    content:url(../img/RectangleBleu.svg) ;
    position: absolute;
    right:-10rem;
    z-index: -1;
    bottom:-10rem;
    transform: scale(.7);
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    -ms-transform: scale(.7);
    -o-transform: scale(.7);
    fill:black;
}

.projet:nth-child(1) .imageP::before{
    content:url(../img/projetColor1.png) ;
}
.projet:nth-child(2) .imageP::before{
    content:url(../img/yaplabefore.svg) ;
}


.projet:nth-child(4) .imageP::before{
    content:url(../img/AromaBefore.svg) ;
}
/* 
.projet:nth-child(4) .imageP::before{
    content:url(../img/wedoBefore.svg) ;
} */


.projet:nth-child(3) .imageP::before{
    content:url(../img/uxuiBefore.svg) ;
}
.projet:nth-child(3) .imageP::after{
    content:url(../img/RectangleBleu.svg) ;
}
/* .projet:nth-child(4) .imageP::after{
    content:url(../img/RectancleJaune.svg) ;
} */

.projet:nth-child(4) .imageP::after{
    content:url(../img/RectangleRose.svg) ;
}
.projet:nth-child(2) .imageP::after{
    content:url(../img/RectancleJaune.svg) ;
}

.imageP img{
    max-height: 100%;
}

.h2project{
    margin-top: -8rem;
    position: relative;
}

.droite{
    margin-left:auto;
     margin-right:0; 
}

.span1{
    font-size: 3rem;
    line-height: 3.5rem;
}

.fleches{
    max-width: 99%;
    position: absolute;
    bottom:1rem;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.fleches>*{
    transition: transform .8s ease-in-out;
    -webkit-transition: transform .8s ease-in-out;
    -moz-transition: transform .8s ease-in-out;
    -ms-transition: transform .8s ease-in-out;
    -o-transition: transform .8s ease-in-out;
    max-width:4%;
}

.fleches:hover>*{
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}

.projet:hover .imageP::before{
    transform: translateX(40px) translateY(40px) scale(.7) rotate(2deg);
    -webkit-transform: translateX(40px) translateY(40px) scale(.7) rotate(2deg);
    -moz-transform: translateX(40px) translateY(40px) scale(.7) rotate(2deg);
    -ms-transform: translateX(40px) translateY(40px) scale(.7) rotate(2deg);
    -o-transform: translateX(40px) translateY(40px) scale(.7) rotate(2deg);
}

.projet:hover .imageP::after{
    transform: translateX(-40px) translateY(-40px) scale(.7) rotate(-20deg);
    -webkit-transform: translateX(-40px) translateY(-40px) scale(.7) rotate(-20deg);
    -moz-transform: translateX(-40px) translateY(-40px) scale(.7) rotate(-20deg);
    -ms-transform: translateX(-40px) translateY(-40px) scale(.7) rotate(-20deg);
    -o-transform: translateX(-40px) translateY(-40px) scale(.7) rotate(-20deg);
}


.button1:hover{
    animation: border-flicker 2s linear forwards;
    -webkit-animation: border-flicker 2s linear forwards;
}

 .bluelink:hover, .email:hover{
    animation: border-flicker2 2s linear forwards;
    -webkit-animation: border-flicker2 2s linear forwards;
}


 

 /* border: 5px solid #707070; */
@keyframes border-flicker {
    2% {
      color: #fcc23d;
      text-shadow: 0 0 10px rgb(230, 0, 120);
      border: 5px solid #fcc23d;
      box-shadow: 0 0 10px -1px rgb(230, 0, 120)  inset;
    }
    
    16% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
      border: 5px solid transparent;
    }
    18% {
       color: #fcc23d;
      text-shadow: 0 0 10px rgb(230, 0, 120);
      border: 5px solid #fcc23d;
      box-shadow: 0 0 10px -1px rgb(230, 0, 120)  inset;
    }
    22% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
      border: 5px solid transparent;
    }
    28% {
      color: #fcc23d;
      text-shadow: 0 0 10px rgb(230, 0, 120);
      border: 5px solid #fcc23d;
      box-shadow: 0 0 10px -1px rgb(230, 0, 120)  inset;
    }
    31% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
      
    }
  
    54% {
      color: #fcc23d;
      text-shadow: 0 0 10px rgb(230, 0, 120);
      border: 5px solid #fcc23d;
      box-shadow: 0 0 10px -1px rgb(230, 0, 120)  inset;
    }
  
  
    100% {
      color:#fcc23d;
      text-shadow: 0 0 10px rgb(230, 0, 120);
      border: 5px solid #fcc23d;
      box-shadow: 0 0 10px -1px rgb(230, 0, 120)  inset;
    }
  }

  @keyframes border-flicker2 {
    2% {
      color: #fcc23d;
      text-shadow: 0 0 10px rgb(230, 0, 120);
      
    }
    
    16% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    18% {
       color: #fcc23d;
      text-shadow: 0 0 10px rgb(230, 0, 120);
      
    }
    22% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    28% {
      color: #fcc23d;
      text-shadow: 0 0 10px rgb(230, 0, 120);
      
    }
    31% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
      
    }
  
    54% {
      color: #fcc23d;
      text-shadow: 0 0 10px rgb(230, 0, 120);
      
    }
  
  
    100% {
      color:#fcc23d;
      text-shadow: 0 0 10px rgb(230, 0, 120);
      
    }
  }

  .contact{
      padding: 8rem 20rem;
      height: 80%;
  }

  .contact .text{
      padding-top: 8rem;
      max-width: 70%;
      line-height: 4rem;
      font-size: 2.5rem;
  }

  .email{
      font-size: 4rem;
      font-weight: 700;
      padding-top: 5rem;
      color: var(--color-main4);
      display:inline-block;
  }


  .flexcontact{
      display: flex;
      align-items: center;

  }

  .buttonsContact {
      display: flex;
      flex-direction: column;
    
    }

    .buttonsContact a{
        font-size: 3rem;
        padding: 2rem;
        text-align: center;
        text-decoration: underline;
        color: var(--color-main4);
    }


  .flexcontact div:first-of-type{
      max-width: 70%;
  }

  .test1{
      cursor: url(../img/fleche.svg) 4 12 , auto;
  }

  .dessin{
      position: absolute;
  }

  .dessin img{
      max-width: 100%;
  }

  .dessin:nth-of-type(1){
      left: 10rem;
      top: 15rem;
      width: 25rem;
  }

  /* red */
  .dessin:nth-of-type(2){
    right: 8rem;
    bottom: 7rem;
    width: 25rem;
}

/* suncity */
.dessin:nth-of-type(3){
    top: 10rem;
    right: 10rem;
    width: 25rem;
}

/* Sunnjaune */
.dessin:nth-of-type(4){
    left: 20rem;
    bottom:2rem;
    width: 20rem;
}

/* 2019 */
.dessin:nth-of-type(5){
    left: 45%;
    top: 10%;
    width: 10rem;
}

/* sunncouv */
.dessin:nth-of-type(6){
    left: 50%;
    bottom: 1rem;
    width: 15rem;
}


.dessinclass{
    margin-top: 10rem;
    margin-bottom: 10rem;
}



section div img{
    max-width: 100%;
}

.banner {
    height: 70%;
    width: 100%;
    background-image: url(../img/colors1.jpg);
    background-position: center;
}


.infos{
    display: flex;
}

.infos_projet{
    font-size: 1.7rem;
    width: 25%;
    margin-right: 10rem;
}


.infos_intro{
    font-size: 2rem;
    line-height: 3rem;
}


.credit_infos{
    display: flex; 
}


.credit_infos p{
    padding-right: 3rem;
    padding-top: 3rem;
    line-height: 4rem;
}

.imageprojet{
    padding: 2rem 0;
    max-width: 80%;
    margin: auto;
    display: block;
}



.imageP2{
    max-width: 100%;
    height: 20rem;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: -1;
}

.imageP2 img{
    max-height: 100%;
}


.h2project2{
    font-size: 4rem;
    margin-top: -6rem;
    line-height: 5rem;
}

.projetSimilaire{
    display: flex;
}

.margin{
    padding : 3rem
}

video{
    margin: auto;
    display: block;
}


.description{
    padding: 2rem 0;
    max-width: 60%;
    line-height: 3rem;
}

.active{
    border-bottom: 1px solid white;
}

.center2{
    padding:15rem 10rem 1rem 10rem;
}


.fadein{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-delay: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, +100%, 0);
        transform: translate3d(0, +100%, 0);
        -moz-transform: translate3d(0, +100%, 0);
        -ms-transform: translate3d(0, +100%, 0);
        -o-transform: translate3d(0, +100%, 0);
}
    
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}